---
import Layout from "../layouts/Layout.astro";
import Box from "../components/Box.astro";
import BaseLista from "../components/BaseLista.astro";
import Acordeon from "../components/Acordeon.astro";
import Edu from "../components/Edu.astro";
import Card from "../components/Card.astro";
import Link from "../components/Link.astro";
import Slider from "../components/Slider.astro";
import SliderB from "../components/Slider_Button.astro";
import Icons from "../components/Icons.astro";
---

<Layout title="Portfolio Niok">
	<main class="cv">
		<Box class="info">
			<p>
				¡Hola! Soy <strong>Nicolás Bastidas,</strong> conocido como <strong
					>Niok,</strong
				> y te doy la bienvenida a mi portafolio. Como <strong
					><i>diseñador multimedia</i></strong
				>, he participado en una amplia variedad de proyectos, que
				incluyen:
			</p>
			<BaseLista>
				<li>Diseño y desarrollo web Front-end.</li>
				<li>Diseño de identidad corporativa.</li>
				<li>Diseño 3D y animación.</li>
			</BaseLista>
			<p>
				Explora mi portafolio y descubre cómo combino estos elementos
				para crear proyecto únicos y cautivadores.
				<br /><strong><i>¡Espero que te guste lo que ves!</i></strong>
			</p>
			<BaseLista>
				<li>
					<svg
						class="icon icon-tabler icon-tabler-phone"
						width="30"
						height="30"
						viewBox="0 0 24 24"
						stroke-width="2"
						stroke="#ff3000"
						fill="none"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
						<path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path>
						<path
							d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
						></path>
					</svg>
					+573007215438
				</li>
				<li>
					<svg
						class="icon icon-tabler icon-tabler-map-pin"
						width="30"
						height="30"
						viewBox="0 0 24 24"
						stroke-width="2"
						stroke="#ff3000"
						fill="none"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
						<path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path>
						<path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
						<path
							d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
						></path>
					</svg>
					Pasto, Colombia
				</li>
				<li>
					<svg
						class="icon icon-tabler icon-tabler-mail"
						width="30"
						height="30"
						viewBox="0 0 24 24"
						stroke-width="2"
						stroke="#ff3000"
						fill="none"
						stroke-linecap="round"
						stroke-linejoin="round"
						>
						<path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path>
						<path
							d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
						></path>
						<path d="M3 7l9 6l9 -6"></path>
					</svg>
					niok.bast@gmail.com
				</li>
			</BaseLista>
			<div>
				<a href="https://www.instagram.com/niok______/" target="_blank">
					<svg
						class="social"
						width="40"
						height="40"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="#4B4B73"
						fill="none"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
					<title>
						Instagram
					</title>
						<path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path>
						<path
							d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
						></path>
						<path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"
						></path>
						<path d="M16.5 7.5l0 .01"></path>
					</svg>
				</a>
				<a
					href="https://www.linkedin.com/in/nicolas-bastidas-080131150/"
					target="_blank"
				>
					<svg
						class="social"
						width="40"
						height="40"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="#4B4B73"
						fill="none"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
					<title>
						Linkedin
					</title>
						<path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path>
						<path
							d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
						></path>
						<path d="M8 11l0 5"></path>
						<path d="M8 8l0 .01"></path>
						<path d="M12 16l0 -5"></path>
						<path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
					</svg>
				</a>
			</div>
		</Box>
		<Box class="nombre">
			<h1>Nicolas<br />Bastidas</h1>
			<div class="sub_nombre">
				<svg
					viewBox="0 0 9.03 45.21"
					fill="#AEAED9"
					stroke-width="0px"
					height="50px"
				>
					<path
						d="M2.34,0h2.23c.89,0,1.7.5,2.1,1.3l2.11,4.23c.16.33.25.68.25,1.05v35.91c0,1.51-1.22,2.73-2.73,2.73h-3.58c-1.51,0-2.73-1.22-2.73-2.73V2.34C0,1.05,1.05,0,2.34,0Z"
					></path>
				</svg>
				<p>Diseñador<br /> Multimedia</p>
			</div>
			<svg
				viewBox="0 0 47.4 47.4"
				fill="#191926"
				stroke-width="0px"
				height="140px"
			>
				<g>
					<g>
						<path
							d="M0,21.52v2.18c0,.97.46,1.85,1.18,2.29l3.64,2.18c.3.18.62.27.95.27h8.02c.5,0,.66.81.21,1.08l-12.83,7.7c-.72.43-1.18,1.32-1.18,2.29v3.16c0,.97.46,1.85,1.18,2.29l3.64,2.18c.3.18.62.27.95.27h4.26c.33,0,.66-.09.95-.27l3.64-2.18c.72-.43,1.18-1.32,1.18-2.29v-3.16c0-.97.46-1.85,1.18-2.29l14.17-8.5c.3-.18.62-.27.95-.27h9.53c.33,0,.66-.09.95-.27l3.64-2.18c.72-.43,1.18-1.32,1.18-2.29v-2.18c0-1.41-.95-2.56-2.13-2.56H2.13c-1.18,0-2.13,1.14-2.13,2.56Z"
						></path>
						<path
							d="M21.07,40.47v2.18c0,.97.46,1.85,1.18,2.29l3.64,2.18c.3.18.62.27.95.27h14.79c.33,0,.66-.09.95-.27l3.64-2.18c.72-.43,1.18-1.32,1.18-2.29v-2.18c0-1.41-.95-2.56-2.13-2.56h-22.07c-1.18,0-2.13,1.14-2.13,2.56Z"
						></path>
					</g>
					<path
						d="M1.18,10.19l11.04,6.62c.6.36,1.31.36,1.91,0l5.77-3.46c.72-.43,1.18-1.32,1.18-2.29h0c0-.97-.46-1.85-1.18-2.29L5.72.27c-.3-.18-.62-.27-.95-.27h-2.63C.95,0,0,1.14,0,2.56v5.34c0,.97.46,1.85,1.18,2.29Z"
					></path>
					<path
						d="M27.51,8.77c-.72.43-1.18,1.32-1.18,2.29h0c0,.97.46,1.85,1.18,2.29l5.77,3.46c.6.36,1.31.36,1.91,0l11.04-6.62c.72-.43,1.18-1.32,1.18-2.29V2.56c0-1.41-.95-2.56-2.13-2.56h-2.63c-.33,0-.66.09-.95.27l-14.17,8.5Z"
					></path>
				</g>
			</svg>
		</Box>
		<Box class="foto">
			<img src="./public/Niok1.webp" alt="Niok" />
		</Box>
		<Box class="habilidades">
			<h2>Habilidades</h2>
			<BaseLista class="iconscontainer">
				<li>
					<svg id="Html" viewBox="0 0 26.25 30" height="30px">
						<defs>
							<style>
								.ht-1 {
									fill: #3a3a59;
								}

								.ht-1,
								.ht-2 {
									stroke-width: 0px;
								}

								.ht-2 {
									fill: #7c7cbf;
								}
							</style>
						</defs>

						<g>
							<polygon
								class="ht-1"
								points="23.79 27.08 13.13 30 2.46 27.08 0 0 26.25 0 23.79 27.08"
							></polygon>
							<polygon
								class="ht-2"
								points="20.97 5.63 5.26 5.63 5.62 9.38 6.21 15.94 16.41 15.94 16.08 19.67 13.12 20.62 10.18 19.67 9.98 17.81 6.38 17.81 6.81 22.49 13.12 24.37 19.43 22.49 20.36 12.19 9.61 12.19 9.38 9.38 20.62 9.38 20.97 5.63"
							></polygon>
						</g>
					</svg>
				</li>

				<li>
					<svg id="css" viewBox="0 0 26.18 30" height="30px">
						<defs>
							<style>
								.css-1 {
									fill: #3a3a59;
								}

								.css-1,
								.css-2 {
									stroke-width: 0px;
								}

								.css-2 {
									fill: #7c7cbf;
								}
							</style>
						</defs>

						<g>
							<path
								class="css-1"
								d="M0,0l2.38,27,10.71,3,10.7-3L26.18,0H0Z"
							></path>
							<path
								class="css-2"
								d="M21.08,8.83l-.3,3.39-.91,10.17-6.78,1.88h0s-6.78-1.88-6.78-1.88l-.47-5.32h3.32l.25,2.76,3.69,1h0s3.69-1,3.69-1l.5-4.6-11.61.03-.33-3.14,12.22-.14.25-3.36-12.79.04-.22-3.13h16.57l-.3,3.31Z"
							></path>
						</g>
					</svg>
				</li>
				<li>
					<svg id="wpress" viewBox="0 0 30 30" height="30px">
						<defs>
							<style>
								.wpress-1 {
									fill: #4b4b73;
									stroke-width: 0px;
								}
							</style>
						</defs>
						<g>
							<path
								class="wpress-1"
								d="M0,15c0,5.93,3.45,11.07,8.45,13.5L1.3,8.89c-.83,1.87-1.3,3.93-1.3,6.11ZM25.12,14.24c0-1.85-.67-3.14-1.24-4.14-.76-1.24-1.47-2.28-1.47-3.52,0-1.38,1.04-2.66,2.52-2.66.06,0,.13,0,.19.01-2.67-2.44-6.22-3.94-10.13-3.94C9.76,0,5.15,2.69,2.47,6.76c.35.01.68.02.96.02,1.57,0,4-.19,4-.19.81-.05.9,1.14.09,1.24,0,0-.81.09-1.72.14l5.46,16.24,3.28-9.84-2.34-6.4c-.81-.05-1.57-.14-1.57-.14-.81-.05-.71-1.28.1-1.24,0,0,2.48.19,3.95.19,1.57,0,4-.19,4-.19.81-.05.9,1.14.09,1.24,0,0-.81.09-1.72.14l5.42,16.12,1.5-5c.76-1.95,1.14-3.56,1.14-4.85ZM15.26,16.31l-4.5,13.08c1.34.39,2.76.61,4.24.61,1.75,0,3.42-.3,4.98-.85-.04-.06-.08-.13-.11-.2l-4.61-12.63ZM28.16,7.8c.07.48.1.99.1,1.54,0,1.52-.29,3.23-1.14,5.37l-4.58,13.24c4.46-2.6,7.46-7.43,7.46-12.96,0-2.61-.67-5.06-1.84-7.2Z"
							></path>
						</g>
					</svg>
				</li>
				<li>
					<svg id="v-code" viewBox="0 0 30 30" height="30px">
						<defs>
							<style>
								.vcode-1 {
									fill: #4b4b73;
									stroke-width: 0px;
								}
							</style>
						</defs>
						<g>
							<path
								id="B"
								class="vcode-1"
								d="M23.06,0l-12.06,12L3,6l-3,1v15l3,2,8-6,11.88,12,7.12-3V2.94l-6.94-2.94ZM3,19v-8l5,4-5,4ZM23,21l-8-6,8-6v12Z"
							></path>
						</g>
					</svg>
				</li>
				<li>
					<svg id="xd" viewBox="0 0 30 30" height="30px">
						<defs>
							<style>
								.xd-1 {
									fill: #3a3a59;
								}

								.xd-1,
								.xd-2 {
									stroke-width: 0px;
								}

								.xd-2 {
									fill: #7c7cbf;
								}
							</style>
						</defs>

						<g>
							<rect
								class="xd-1"
								y="0"
								width="30"
								height="30"
								rx="3.46"
								ry="3.46"></rect>
							<path
								class="xd-2"
								d="M15.63,7.36h-2.57l-2.76,5.77-2.8-5.77h-2.65l3.75,7.49-3.88,7.67h2.62l2.81-5.88,2.84,5.88h2.83l-4-7.76,3.81-7.4ZM22.73,7.36v3.86h-.74c-2.53,0-5.58,1.63-5.58,5.79,0,3.22,1.63,5.64,5.1,5.64,2.56,0,3.76-.88,3.76-.88V7.36h-2.54ZM22.73,20.43s-.29.13-.98.13-2.81-.3-2.81-3.66,2.43-3.63,3.02-3.63.77.16.77.16v7h0Z"
							></path>
						</g>
					</svg>
				</li>
				<li>
					<svg id="blender" viewBox="0 0 30 24.37" width="30px" height="30px">
						<defs>
							<style>
								.blender-1 {
									fill: #4b4b73;
								}

								.blender-1,
								.blender-2 {
									stroke-width: 0px;
								}

								.blender-2 {
									fill: #7c7cbf;
								}
							</style>
						</defs>

						<g>
							<path
								class="blender-1"
								d="M29.91,13.59c-.18-1.23-.61-2.42-1.27-3.47-.61-.98-1.39-1.84-2.31-2.56L16.96.37l-.02-.02c-.62-.47-1.65-.47-2.33,0-.68.48-.76,1.27-.16,1.77l3.91,3.18H6.44s-.02.01-.02.01c-.98,0-1.93.65-2.12,1.47-.19.83.47,1.52,1.5,1.52h0s6.04,0,6.04,0L1.07,16.57l-.04.03c-1.02.78-1.34,2.07-.71,2.89.65.84,2.03.84,3.06,0l5.88-4.81s-.09.65-.08,1.04h0c.01.39.13,1.16.32,1.75.41,1.28,1.08,2.46,1.99,3.44.98,1.07,2.16,1.92,3.49,2.5,1.44.64,3,.96,4.57.95,1.58,0,3.13-.32,4.57-.96,1.32-.59,2.51-1.44,3.48-2.52.9-.99,1.58-2.17,1.99-3.45.39-1.24.49-2.56.31-3.84ZM25.6,15.87c-.28.76-.72,1.46-1.29,2.03-1.22,1.23-2.91,1.93-4.74,1.94-1.84,0-3.53-.69-4.74-1.92-.58-.58-1.02-1.27-1.3-2.03-.52-1.45-.39-3.05.36-4.4.37-.66.86-1.24,1.44-1.71,1.18-.96,2.68-1.48,4.24-1.48,1.57,0,3.07.51,4.25,1.47.6.49,1.09,1.07,1.44,1.71.37.66.59,1.38.66,2.13.07.77-.04,1.54-.3,2.26Z"
							></path>
							<path
								class="blender-2"
								d="M23.74,13.7c.06,1.03-.36,1.98-1.08,2.69-.8.76-1.86,1.18-2.97,1.17-1.11.01-2.17-.41-2.97-1.17-.72-.71-1.13-1.67-1.08-2.69h0c.06-1,.55-1.88,1.29-2.51.78-.64,1.76-.99,2.77-.99,1.06,0,2.04.38,2.76.99.74.63,1.23,1.51,1.29,2.51Z"
							></path>
						</g>
					</svg>
				</li>
				<li>
					<svg id="photoshop" viewBox="0 0 32.17 32.17" height="30px">
						<defs>
							<style>
								.photsp-1 {
									fill: #3a3a59;
								}

								.photsp-1,
								.photsp-2 {
									stroke-width: 0px;
								}

								.photsp-2 {
									fill: #7c7cbf;
								}
							</style>
						</defs>

						<g>
							<rect
								class="photsp-1"
								y="0"
								width="32.17"
								height="32.17"
								rx="3.71"
								ry="3.71"></rect>
							<g>
								<path
									class="photsp-2"
									d="M7.03,6.97c0-.12.02-.17.13-.17.79-.02,2.36-.05,3.95-.05,4.09,0,5.65,2.38,5.67,5.2,0,3.86-2.88,5.32-5.94,5.32h-1.29v5.51c0,.15-.04.19-.15.19h-2.21c-.1,0-.15-.05-.15-.17V6.97h0ZM9.53,14.91c.17.02.48.05,1.36.05,1.65,0,3.24-.47,3.24-2.9,0-1.94-1.06-2.94-3.03-2.94-.81,0-1.4.02-1.57.05v5.74Z"
								></path>
								<path
									class="photsp-2"
									d="M21.98,13.1c-1.01,0-1.27.63-1.27,1.09,0,.58.27.9,1.8,1.63,2.11,1.02,3.02,1.92,3.02,3.66,0,2.43-1.58,3.81-3.84,3.81-1.09,0-2.46-.1-3.32-.73-.08-.05-.12-.12-.12-.24v-2.23c0-.12.08-.17.14-.12,1.07.8,2.26,1.03,3.32,1.03.94,0,1.27-.63,1.27-1.16,0-.63-.23-1-1.7-1.7-2.11-1.02-2.99-1.9-2.99-3.67,0-1.97,1.47-3.59,3.89-3.59,1.25,0,2.13.03,2.71.42.1.1.12.17.12.32v1.99c0,.15-.08.22-.18.15-.74-.49-1.78-.64-2.85-.64Z"
								></path>
							</g>
						</g>
					</svg>
				</li>
				<li>
					<svg id="illustrator" viewBox="0 0 30 30" height="30px">
						<defs>
							<style>
								.ai-1 {
									fill: #3a3a59;
								}

								.ai-1,
								.ai-2 {
									stroke-width: 0px;
								}

								.ai-2 {
									fill: #7c7cbf;
								}
							</style>
						</defs>

						<g>
							<rect
								class="ai-1"
								width="30"
								height="30"
								rx="3.46"
								ry="3.46"></rect>
							<rect
								class="ai-2"
								x="10.36"
								y="16.33"
								width="5.31"
								height="2.66"></rect>
							<rect
								class="ai-2"
								x="20.98"
								y="13.01"
								width="2.66"
								height="9.96"></rect>
							<circle class="ai-2" cx="22.31" cy="11.01" r="1.33"
							></circle>
							<polygon
								class="ai-2"
								points="11.62 7.03 6.52 22.97 9.31 22.97 13.01 11.39 16.72 22.97 19.51 22.97 14.41 7.03 11.62 7.03"
							></polygon>
						</g>
					</svg>
				</li>
				<li>
					<svg id="premier" viewBox="0 0 30 30" height="30px">
						<defs>
							<style>
								.prem-1 {
									fill: #3a3a59;
								}

								.prem-1,
								.prem-2 {
									stroke-width: 0px;
								}

								.prem-2 {
									fill: #7c7cbf;
								}
							</style>
						</defs>

						<g>
							<rect
								class="prem-1"
								x="0"
								y="0"
								width="30"
								height="30"
								rx="3.46"
								ry="3.46"></rect>
							<g>
								<path
									class="prem-2"
									d="M7.15,6.56c0-.11.02-.16.12-.16.74-.02,2.2-.05,3.68-.05,3.82,0,5.27,2.22,5.29,4.85,0,3.6-2.68,4.96-5.54,4.96h-1.21v5.14c0,.14-.04.18-.14.18h-2.06c-.1,0-.14-.05-.14-.16V6.56h0ZM9.48,13.97c.16.02.45.05,1.27.05,1.54,0,3.02-.44,3.02-2.7,0-1.81-.99-2.74-2.82-2.74-.76,0-1.3.02-1.46.05v5.35Z"
								></path>
								<path
									class="prem-2"
									d="M23.14,10.1c.08,0,.18,0,.26.02.1.02.12.05.12.23v1.96c0,.11-.04.16-.16.16-1.16-.05-1.71-.08-2.54.26v8.51c0,.14-.04.18-.16.18h-2.14c-.12,0-.16-.05-.16-.18v-7.63c0-1-.04-1.75-.1-2.49-.02-.09.02-.14.12-.14,0,0,1.97-.73,4.76-.88Z"
								></path>
							</g>
						</g>
					</svg>
				</li>
				<li>
					<svg id="after" viewBox="0 0 30 30" height="30px">
						<defs>
							<style>
								.after-1 {
									fill: #3a3a59;
								}

								.after-1,
								.after-2 {
									stroke-width: 0px;
								}

								.after-2 {
									fill: #7c7cbf;
								}
							</style>
						</defs>

						<g>
							<rect
								class="after-1"
								y="0"
								width="30"
								height="30"
								rx="3.46"
								ry="3.46"></rect>
							<g>
								<path
									class="after-2"
									d="M7.8,17.22l-1.19,4.05c-.02.14-.08.19-.19.19h-1.99c-.14,0-.18-.07-.14-.23,1.05-3.56,2.82-9.49,4.07-13.52.06-.23.12-.47.16-1.28,0-.09.06-.14.12-.14h2.69c.1,0,.12.02.16.12,1.44,4.77,3.02,10.03,4.5,14.84.04.14,0,.21-.12.21h-2.18c-.1,0-.14-.05-.18-.14l-1.25-4.09h-4.46ZM11.74,14.94c-.39-1.56-1.34-4.7-1.73-6.33h-.02c-.29,1.54-1.09,4.16-1.67,6.33h3.43Z"
								></path>
								<path
									class="after-2"
									d="M18.99,16.34c.04,1.74.97,2.98,2.98,2.98.73,0,1.63-.14,2.48-.57.06-.02.12,0,.12.11v1.83c0,.16-.04.21-.12.25-.77.46-1.71.62-2.98.64-3.61,0-4.92-2.84-4.92-5.72,0-3.27,1.69-5.86,4.66-5.86s4.09,2.56,4.09,4.69c0,.98-.1,1.44-.18,1.51-.24.11-.99.14-2.08.14h-4.05ZM22.16,14.58c.73,0,.85-.09.87-.18v-.25c0-.69-.4-2.18-1.93-2.18-1.29,0-1.97,1.14-2.12,2.61h3.18Z"
								></path>
							</g>
						</g>
					</svg>
				</li>
				<li>
					<svg id="animate" viewBox="0 0 30 30" height="30px">
						<defs>
							<style>
								.animate {
									fill: #3a3a59;
								}

								.animate,
								.animate-2 {
									stroke-width: 0px;
								}

								.animate-2 {
									fill: #7c7cbf;
								}
							</style>
						</defs>

						<g id="_2_Animate_Adobe" data-name="2, Animate, Adobe">
							<g>
								<rect
									class="animate"
									width="30"
									height="30"
									rx="3.46"
									ry="3.46"></rect>
								<g>
									<path
										class="animate-2"
										d="M8.06,17.4l-1.18,4.03c-.02.14-.08.18-.2.18h-1.99c-.14,0-.18-.07-.14-.23,1.05-3.55,2.82-9.45,4.07-13.47.06-.23.12-.46.16-1.28,0-.09.06-.14.12-.14h2.68c.1,0,.12.03.16.12,1.44,4.75,3.02,9.99,4.49,14.78.04.14,0,.21-.12.21h-2.18c-.1,0-.14-.05-.18-.14l-1.24-4.08h-4.45ZM11.99,15.13c-.39-1.55-1.34-4.68-1.73-6.3h-.02c-.29,1.53-1.09,4.15-1.67,6.3h3.42Z"
									></path>
									<path
										class="animate-2"
										d="M17.29,13.02c0-.79.03-1.46,0-1.92,0-.12.02-.18.13-.18,0,0,3.07-.93,4.9-.79,1.47.12,3.14.95,3.14,4.7v6.61c0,.12-.06.18-.15.18h-1.99c-.11,0-.17-.07-.17-.21v-6.61c0-1.51-.63-2.54-1.77-2.54-.71,0-1.03.11-1.78.47v8.7c0,.14-.04.18-.15.18h-2.01c-.1,0-.13-.05-.13-.21v-8.39h-.01Z"
									></path>
								</g>
							</g>
						</g>
					</svg>
				</li>
				<li>
					<svg id="indesign" viewBox="0 0 30 30" height="30px">
						<defs>
							<style>
								.indesign-1 {
									fill: #3a3a59;
								}

								.indesign-1,
								.indesign-2 {
									stroke-width: 0px;
								}

								.indesign-2 {
									fill: #7c7cbf;
								}
							</style>
						</defs>

						<g>
							<rect
								class="indesign-1"
								width="30"
								height="30"
								rx="3.46"
								ry="3.46"></rect>
							<g>
								<rect
									class="indesign-2"
									x="7.79"
									y="7.36"
									width="2.48"
									height="15.07"></rect>
								<path
									class="indesign-2"
									d="M19.68,7.36v3.85h-.74c-2.53,0-5.58,1.63-5.58,5.79,0,3.22,1.63,5.63,5.1,5.63,2.56,0,3.76-.88,3.76-.88V7.36h-2.54ZM19.68,20.42s-.29.13-.98.13-2.81-.3-2.81-3.66,2.43-3.63,3.02-3.63.77.16.77.16v7h0Z"
								></path>
							</g>
						</g>
					</svg>
				</li>
			</BaseLista>
		</Box>
		<Box class="experiencia">
			<header>
				<h2>Experiencia</h2>
				<svg viewBox="0 0 116.44 68.23" width="110px">
					<defs>
						<style>
							.demond-1 {
								fill: #191926;
								stroke-width: 0px;
							}
						</style>
					</defs>

					<g>
						<path
							class="demond-1"
							d="M56.04,1.5l-8.9,17.8c-.38.76-.38,1.66,0,2.42l8.9,17.8c1,2,3.85,2,4.84,0l8.9-17.8c.38-.76.38-1.66,0-2.42L60.89,1.5c-1-2-3.85-2-4.84,0Z"
						></path>
						<path
							class="demond-1"
							d="M22.68,20.51H2.71c-2.06,0-3.36,2.21-2.37,4.01l23.25,42.3c.48.87,1.39,1.4,2.37,1.4h17.87c2.01,0,3.32-2.12,2.42-3.92L25.1,22.01c-.46-.92-1.4-1.5-2.42-1.5Z"
						></path>
						<path
							class="demond-1"
							d="M73.86,64.38l19.66-42.3c.44-.96,1.4-1.57,2.46-1.57h17.75c2.01,0,3.32,2.12,2.42,3.92l-21.15,42.3c-.46.92-1.4,1.5-2.42,1.5h-16.26c-1.98,0-3.29-2.05-2.46-3.85Z"
						></path>
					</g>
				</svg>
			</header>
			<Acordeon
				title="Mimbrands SAS"
				sub1="Noviembre 2023 – Marzo 2024  "
				sub2="Diseñador Gráfico Web y Multimedia "
				item="item01"
			>
				<li>Creación de páginas web en WordPress.</li>
				<li>Maquetación en Adobe XD.</li>
				<li>Programación en HTML y CSS.</li>
				<li>
					Diseño de paquetes de contenido en formato post, story y
					reels.
				</li>
				<li>Branding.</li>
				<li>Animación para redes sociales.</li>
			</Acordeon>
			<Acordeon
				title="Grafix Decoraciones"
				sub1="Octubre 2022 – Mayo 2023"
				sub2="Diseñador Gráfico"
				item="item02"
			>
				<li>Realización del arte final.</li>
				<li>Diseño de piezas publicitarias.</li>
				<li>Manejo de plóter de corte.</li>
				<li>Impresión a gran formato.</li>
				<li>Instalación de diseños impresos.</li>
				<li>Retoque fotográfico.</li>
				<li>Realización de mattepainting.</li>
			</Acordeon>
			<Acordeon
				title="El Parche, Diseño y Publicidad"
				sub1="Enero 2022 – Febrero 2022"
				sub2="Diseñador Gráfico Freelance"
				item="item03"
			>
				<li>Diseño de piezas publicitarias para redes sociales.</li>
				<li>Creación de contenido 3D.</li>
			</Acordeon>
			<Acordeon
				title="Corponariño - Corporación Autónoma Regional de Nariño"
				sub1="Abril 2021 – Octubre 2021"
				sub2="Diseñador Multimedia"
				item="item04"
			>
				<li>Creación de piezas en 3D.</li>
				<li>Animación 2D y 3D.</li>
				<li>
					Producción audiovisual para videos corporativos y
					educativos.
				</li>
				<li>Edición de video</li>
			</Acordeon>
			<Acordeon
				title="Transportadora de Valores del Sur"
				sub1="Abril 2017 – Septiembre 2017"
				sub2="Auxiliar de Diseñador Gráfico"
				item="item05"
			>
				<li>Construcción de infografías.</li>
				<li>Diseño de piezas graficas para seguridad en el trabajo.</li>
				<li>Edición de imagen</li>
			</Acordeon>
		</Box>
		<Box class="educacion">
			<h2>Educación</h2>
			<div class="edu">
				<svg viewBox="0 0 17.29 16.69"  width="16px">
					<defs>
					  <style>
						.exagon-1 {
						  fill: #ff3000;
						  stroke-width: 0px;
						}
					  </style>
					</defs>
					<g >
					  <path class="exagon-1" d="M17.29,5.61v5.48c0,.97-.55,1.86-1.42,2.29l-6.08,3.04c-.72.36-1.57.36-2.29,0l-6.08-3.04c-.87-.43-1.42-1.32-1.42-2.29v-5.48c0-.97.55-1.86,1.42-2.29L7.5.27c.72-.36,1.57-.36,2.29,0l6.08,3.04c.87.43,1.42,1.32,1.42,2.29Z"/>
					</g>
				  </svg>
				<Edu
					title="Máster en Marketing Digital y Analítica Web"
					content="Neetwork, 2023"
				/>
			</div>
			<div class="edu">
				<svg viewBox="0 0 17.29 16.69"  width="16px">
					<defs>
					  <style>
						.exagon-1 {
						  fill: #ff3000;
						  stroke-width: 0px;
						}
					  </style>
					</defs>
					<g >
					  <path class="exagon-1" d="M17.29,5.61v5.48c0,.97-.55,1.86-1.42,2.29l-6.08,3.04c-.72.36-1.57.36-2.29,0l-6.08-3.04c-.87-.43-1.42-1.32-1.42-2.29v-5.48c0-.97.55-1.86,1.42-2.29L7.5.27c.72-.36,1.57-.36,2.29,0l6.08,3.04c.87.43,1.42,1.32,1.42,2.29Z"/>
					</g>
				  </svg>
				<Edu
					title="Tecnólogo en Producción de Multimedia"
					content="Servicio Nacional de Aprendizaje SENA, 2019 – 2021"
				/>
			</div>
			<div class="edu">
				<svg viewBox="0 0 17.29 16.69"  width="16px">
					<defs>
					  <style>
						.exagon-1 {
						  fill: #ff3000;
						  stroke-width: 0px;
						}
					  </style>
					</defs>
					<g >
					  <path class="exagon-1" d="M17.29,5.61v5.48c0,.97-.55,1.86-1.42,2.29l-6.08,3.04c-.72.36-1.57.36-2.29,0l-6.08-3.04c-.87-.43-1.42-1.32-1.42-2.29v-5.48c0-.97.55-1.86,1.42-2.29L7.5.27c.72-.36,1.57-.36,2.29,0l6.08,3.04c.87.43,1.42,1.32,1.42,2.29Z"/>
					</g>
				  </svg>
				<Edu
					title="Técnico en Diseño e Integración de Multimedia"
					content="Servicio Nacional de Aprendizaje SENA, 2016 – 2018"
				/>
			</div>
			<div class="cert_container">
			<Link link="https://drive.google.com/drive/folders/1PdLRA_3EsdIzZDpwBV4EpMlTW-tK2dlm?usp=sharing" target="blank_" class="cert">Certificados</Link>
			</div>
		</Box>
		<Box class="complementarios">
			<header>
			<h4>Complementarios</h4>
			</header>
			<Slider />	
			<SliderB />		
		</Box>
	</main>

	<div  class="space">
		<svg viewBox="0 0 120 88.82" fill="#fff" stroke-width="0px">
			<g>
				<defs>
					<linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
						<stop offset="0%" style="stop-color:rgba(42,42,64,1);stop-opacity:1" />
						<stop offset="100%" style="stop-color:rgba(124,124,191,1);stop-opacity:1" />
					</linearGradient>
				</defs>
				<path
					class="proj-1"
					d="M120,34v22.91c0,1.89-1.07,3.63-2.76,4.47l-52.76,26.38c-2.82,1.41-6.13,1.41-8.94,0L2.76,61.38C1.07,60.54,0,58.8,0,56.91v-22.91c0-1.84,1.94-3.03,3.58-2.21l51.86,25.97c2.81,1.41,6.13,1.41,8.95,0l52.04-25.98c1.64-.82,3.58.37,3.58,2.21Z"
				></path>
				<path
					class="proj-1"
					d="M62.24,28.88L110.3,4.85c2.42-1.21,1.56-4.85-1.15-4.85H10.85c-2.7,0-3.56,3.64-1.15,4.85l48.06,24.03c1.41.7,3.06.7,4.47,0Z"
				></path>
			</g>
		</svg>
	</div>
	<main class="portfolio" id="portfolio">
		
		<Card title="Diseño web">
			<a href="/elite" >
				
				<img src="./public/RenderElite_02.webp" alt="Elite" />
			</a>
			<Icons name="icons">
				<svg id="css" viewBox="0 0 26.18 30" height="30px">
					<defs>
						<style>
							.css-1 {
								fill: #3a3a59;
							}

							.css-1,
							.css-2 {
								stroke-width: 0px;
							}

							.css-2 {
								fill: #7c7cbf;
							}
						</style>
					</defs>

					<g>
						<path
							class="css-1"
							d="M0,0l2.38,27,10.71,3,10.7-3L26.18,0H0Z"
						></path>
						<path
							class="css-2"
							d="M21.08,8.83l-.3,3.39-.91,10.17-6.78,1.88h0s-6.78-1.88-6.78-1.88l-.47-5.32h3.32l.25,2.76,3.69,1h0s3.69-1,3.69-1l.5-4.6-11.61.03-.33-3.14,12.22-.14.25-3.36-12.79.04-.22-3.13h16.57l-.3,3.31Z"
						></path>
					</g>
				</svg>
				<svg id="wpress" viewBox="0 0 30 30" height="30px">
					<defs>
						<style>
							.wpress-1 {
								fill: #4b4b73;
								stroke-width: 0px;
							}
						</style>
					</defs>
					<g>
						<path
							class="wpress-1"
							d="M0,15c0,5.93,3.45,11.07,8.45,13.5L1.3,8.89c-.83,1.87-1.3,3.93-1.3,6.11ZM25.12,14.24c0-1.85-.67-3.14-1.24-4.14-.76-1.24-1.47-2.28-1.47-3.52,0-1.38,1.04-2.66,2.52-2.66.06,0,.13,0,.19.01-2.67-2.44-6.22-3.94-10.13-3.94C9.76,0,5.15,2.69,2.47,6.76c.35.01.68.02.96.02,1.57,0,4-.19,4-.19.81-.05.9,1.14.09,1.24,0,0-.81.09-1.72.14l5.46,16.24,3.28-9.84-2.34-6.4c-.81-.05-1.57-.14-1.57-.14-.81-.05-.71-1.28.1-1.24,0,0,2.48.19,3.95.19,1.57,0,4-.19,4-.19.81-.05.9,1.14.09,1.24,0,0-.81.09-1.72.14l5.42,16.12,1.5-5c.76-1.95,1.14-3.56,1.14-4.85ZM15.26,16.31l-4.5,13.08c1.34.39,2.76.61,4.24.61,1.75,0,3.42-.3,4.98-.85-.04-.06-.08-.13-.11-.2l-4.61-12.63ZM28.16,7.8c.07.48.1.99.1,1.54,0,1.52-.29,3.23-1.14,5.37l-4.58,13.24c4.46-2.6,7.46-7.43,7.46-12.96,0-2.61-.67-5.06-1.84-7.2Z"
						></path>
					</g>
				</svg>
				<svg id="xd" viewBox="0 0 30 30" height="30px">
					<defs>
						<style>
							.xd-1 {
								fill: #3a3a59;
							}

							.xd-1,
							.xd-2 {
								stroke-width: 0px;
							}

							.xd-2 {
								fill: #7c7cbf;
							}
						</style>
					</defs>

					<g>
						<rect
							class="xd-1"
							y="0"
							width="30"
							height="30"
							rx="3.46"
							ry="3.46"></rect>
						<path
							class="xd-2"
							d="M15.63,7.36h-2.57l-2.76,5.77-2.8-5.77h-2.65l3.75,7.49-3.88,7.67h2.62l2.81-5.88,2.84,5.88h2.83l-4-7.76,3.81-7.4ZM22.73,7.36v3.86h-.74c-2.53,0-5.58,1.63-5.58,5.79,0,3.22,1.63,5.64,5.1,5.64,2.56,0,3.76-.88,3.76-.88V7.36h-2.54ZM22.73,20.43s-.29.13-.98.13-2.81-.3-2.81-3.66,2.43-3.63,3.02-3.63.77.16.77.16v7h0Z"
						></path>
					</g>
				</svg>
				<svg id="photoshop" viewBox="0 0 32.17 32.17" height="30px">
					<defs>
						<style>
							.photsp-1 {
								fill: #3a3a59;
							}

							.photsp-1,
							.photsp-2 {
								stroke-width: 0px;
							}

							.photsp-2 {
								fill: #7c7cbf;
							}
						</style>
					</defs>

					<g>
						<rect
							class="photsp-1"
							y="0"
							width="32.17"
							height="32.17"
							rx="3.71"
							ry="3.71"></rect>
						<g>
							<path
								class="photsp-2"
								d="M7.03,6.97c0-.12.02-.17.13-.17.79-.02,2.36-.05,3.95-.05,4.09,0,5.65,2.38,5.67,5.2,0,3.86-2.88,5.32-5.94,5.32h-1.29v5.51c0,.15-.04.19-.15.19h-2.21c-.1,0-.15-.05-.15-.17V6.97h0ZM9.53,14.91c.17.02.48.05,1.36.05,1.65,0,3.24-.47,3.24-2.9,0-1.94-1.06-2.94-3.03-2.94-.81,0-1.4.02-1.57.05v5.74Z"
							></path>
							<path
								class="photsp-2"
								d="M21.98,13.1c-1.01,0-1.27.63-1.27,1.09,0,.58.27.9,1.8,1.63,2.11,1.02,3.02,1.92,3.02,3.66,0,2.43-1.58,3.81-3.84,3.81-1.09,0-2.46-.1-3.32-.73-.08-.05-.12-.12-.12-.24v-2.23c0-.12.08-.17.14-.12,1.07.8,2.26,1.03,3.32,1.03.94,0,1.27-.63,1.27-1.16,0-.63-.23-1-1.7-1.7-2.11-1.02-2.99-1.9-2.99-3.67,0-1.97,1.47-3.59,3.89-3.59,1.25,0,2.13.03,2.71.42.1.1.12.17.12.32v1.99c0,.15-.08.22-.18.15-.74-.49-1.78-.64-2.85-.64Z"
							></path>
						</g>
					</g>
				</svg>
				<svg id="illustrator" viewBox="0 0 30 30" height="30px">
					<defs>
						<style>
							.ai-1 {
								fill: #3a3a59;
							}

							.ai-1,
							.ai-2 {
								stroke-width: 0px;
							}

							.ai-2 {
								fill: #7c7cbf;
							}
						</style>
					</defs>

					<g>
						<rect
							class="ai-1"
							width="30"
							height="30"
							rx="3.46"
							ry="3.46"></rect>
						<rect
							class="ai-2"
							x="10.36"
							y="16.33"
							width="5.31"
							height="2.66"></rect>
						<rect
							class="ai-2"
							x="20.98"
							y="13.01"
							width="2.66"
							height="9.96"></rect>
						<circle class="ai-2" cx="22.31" cy="11.01" r="1.33"
						></circle>
						<polygon
							class="ai-2"
							points="11.62 7.03 6.52 22.97 9.31 22.97 13.01 11.39 16.72 22.97 19.51 22.97 14.41 7.03 11.62 7.03"
						></polygon>
					</g>
				</svg>
			
			</Icons>
		</Card>
		<Card title="Identidad visual">
			<a href="/hilvanya" >
				<img src="./public/hilvanya.webp" alt="Hilvania" />
			</a>
			<Icons name="icons">
				<svg id="photoshop" viewBox="0 0 32.17 32.17" height="30px">
					<defs>
						<style>
							.photsp-1 {
								fill: #3a3a59;
							}

							.photsp-1,
							.photsp-2 {
								stroke-width: 0px;
							}

							.photsp-2 {
								fill: #7c7cbf;
							}
						</style>
					</defs>

					<g>
						<rect
							class="photsp-1"
							y="0"
							width="32.17"
							height="32.17"
							rx="3.71"
							ry="3.71"></rect>
						<g>
							<path
								class="photsp-2"
								d="M7.03,6.97c0-.12.02-.17.13-.17.79-.02,2.36-.05,3.95-.05,4.09,0,5.65,2.38,5.67,5.2,0,3.86-2.88,5.32-5.94,5.32h-1.29v5.51c0,.15-.04.19-.15.19h-2.21c-.1,0-.15-.05-.15-.17V6.97h0ZM9.53,14.91c.17.02.48.05,1.36.05,1.65,0,3.24-.47,3.24-2.9,0-1.94-1.06-2.94-3.03-2.94-.81,0-1.4.02-1.57.05v5.74Z"
							></path>
							<path
								class="photsp-2"
								d="M21.98,13.1c-1.01,0-1.27.63-1.27,1.09,0,.58.27.9,1.8,1.63,2.11,1.02,3.02,1.92,3.02,3.66,0,2.43-1.58,3.81-3.84,3.81-1.09,0-2.46-.1-3.32-.73-.08-.05-.12-.12-.12-.24v-2.23c0-.12.08-.17.14-.12,1.07.8,2.26,1.03,3.32,1.03.94,0,1.27-.63,1.27-1.16,0-.63-.23-1-1.7-1.7-2.11-1.02-2.99-1.9-2.99-3.67,0-1.97,1.47-3.59,3.89-3.59,1.25,0,2.13.03,2.71.42.1.1.12.17.12.32v1.99c0,.15-.08.22-.18.15-.74-.49-1.78-.64-2.85-.64Z"
							></path>
						</g>
					</g>
				</svg>
				<svg id="illustrator" viewBox="0 0 30 30" height="30px">
					<defs>
						<style>
							.ai-1 {
								fill: #3a3a59;
							}

							.ai-1,
							.ai-2 {
								stroke-width: 0px;
							}

							.ai-2 {
								fill: #7c7cbf;
							}
						</style>
					</defs>

					<g>
						<rect
							class="ai-1"
							width="30"
							height="30"
							rx="3.46"
							ry="3.46"></rect>
						<rect
							class="ai-2"
							x="10.36"
							y="16.33"
							width="5.31"
							height="2.66"></rect>
						<rect
							class="ai-2"
							x="20.98"
							y="13.01"
							width="2.66"
							height="9.96"></rect>
						<circle class="ai-2" cx="22.31" cy="11.01" r="1.33"
						></circle>
						<polygon
							class="ai-2"
							points="11.62 7.03 6.52 22.97 9.31 22.97 13.01 11.39 16.72 22.97 19.51 22.97 14.41 7.03 11.62 7.03"
						></polygon>
					</g>
				</svg>
				<svg id="blender" viewBox="0 0 30 24.37" width="30px" height="30px">
					<defs>
						<style>
							.blender-1 {
								fill: #4b4b73;
							}

							.blender-1,
							.blender-2 {
								stroke-width: 0px;
							}

							.blender-2 {
								fill: #7c7cbf;
							}
						</style>
					</defs>

					<g>
						<path
							class="blender-1"
							d="M29.91,13.59c-.18-1.23-.61-2.42-1.27-3.47-.61-.98-1.39-1.84-2.31-2.56L16.96.37l-.02-.02c-.62-.47-1.65-.47-2.33,0-.68.48-.76,1.27-.16,1.77l3.91,3.18H6.44s-.02.01-.02.01c-.98,0-1.93.65-2.12,1.47-.19.83.47,1.52,1.5,1.52h0s6.04,0,6.04,0L1.07,16.57l-.04.03c-1.02.78-1.34,2.07-.71,2.89.65.84,2.03.84,3.06,0l5.88-4.81s-.09.65-.08,1.04h0c.01.39.13,1.16.32,1.75.41,1.28,1.08,2.46,1.99,3.44.98,1.07,2.16,1.92,3.49,2.5,1.44.64,3,.96,4.57.95,1.58,0,3.13-.32,4.57-.96,1.32-.59,2.51-1.44,3.48-2.52.9-.99,1.58-2.17,1.99-3.45.39-1.24.49-2.56.31-3.84ZM25.6,15.87c-.28.76-.72,1.46-1.29,2.03-1.22,1.23-2.91,1.93-4.74,1.94-1.84,0-3.53-.69-4.74-1.92-.58-.58-1.02-1.27-1.3-2.03-.52-1.45-.39-3.05.36-4.4.37-.66.86-1.24,1.44-1.71,1.18-.96,2.68-1.48,4.24-1.48,1.57,0,3.07.51,4.25,1.47.6.49,1.09,1.07,1.44,1.71.37.66.59,1.38.66,2.13.07.77-.04,1.54-.3,2.26Z"
						></path>
						<path
							class="blender-2"
							d="M23.74,13.7c.06,1.03-.36,1.98-1.08,2.69-.8.76-1.86,1.18-2.97,1.17-1.11.01-2.17-.41-2.97-1.17-.72-.71-1.13-1.67-1.08-2.69h0c.06-1,.55-1.88,1.29-2.51.78-.64,1.76-.99,2.77-.99,1.06,0,2.04.38,2.76.99.74.63,1.23,1.51,1.29,2.51Z"
						></path>
					</g>
				</svg>
			</Icons>
		</Card>
		<Card title="Identidad visual">
			<a href="/pespunte" >
				<img class="pespunte" src="./public/Pespunte_03.webp" alt="Pespunte" />
			</a>
			<Icons name="icons">
				<svg id="photoshop" viewBox="0 0 32.17 32.17" height="30px">
					<defs>
						<style>
							.photsp-1 {
								fill: #3a3a59;
							}

							.photsp-1,
							.photsp-2 {
								stroke-width: 0px;
							}

							.photsp-2 {
								fill: #7c7cbf;
							}
						</style>
					</defs>

					<g>
						<rect
							class="photsp-1"
							y="0"
							width="32.17"
							height="32.17"
							rx="3.71"
							ry="3.71"></rect>
						<g>
							<path
								class="photsp-2"
								d="M7.03,6.97c0-.12.02-.17.13-.17.79-.02,2.36-.05,3.95-.05,4.09,0,5.65,2.38,5.67,5.2,0,3.86-2.88,5.32-5.94,5.32h-1.29v5.51c0,.15-.04.19-.15.19h-2.21c-.1,0-.15-.05-.15-.17V6.97h0ZM9.53,14.91c.17.02.48.05,1.36.05,1.65,0,3.24-.47,3.24-2.9,0-1.94-1.06-2.94-3.03-2.94-.81,0-1.4.02-1.57.05v5.74Z"
							></path>
							<path
								class="photsp-2"
								d="M21.98,13.1c-1.01,0-1.27.63-1.27,1.09,0,.58.27.9,1.8,1.63,2.11,1.02,3.02,1.92,3.02,3.66,0,2.43-1.58,3.81-3.84,3.81-1.09,0-2.46-.1-3.32-.73-.08-.05-.12-.12-.12-.24v-2.23c0-.12.08-.17.14-.12,1.07.8,2.26,1.03,3.32,1.03.94,0,1.27-.63,1.27-1.16,0-.63-.23-1-1.7-1.7-2.11-1.02-2.99-1.9-2.99-3.67,0-1.97,1.47-3.59,3.89-3.59,1.25,0,2.13.03,2.71.42.1.1.12.17.12.32v1.99c0,.15-.08.22-.18.15-.74-.49-1.78-.64-2.85-.64Z"
							></path>
						</g>
					</g>
				</svg>
				<svg id="illustrator" viewBox="0 0 30 30" height="30px">
					<defs>
						<style>
							.ai-1 {
								fill: #3a3a59;
							}

							.ai-1,
							.ai-2 {
								stroke-width: 0px;
							}

							.ai-2 {
								fill: #7c7cbf;
							}
						</style>
					</defs>

					<g>
						<rect
							class="ai-1"
							width="30"
							height="30"
							rx="3.46"
							ry="3.46"></rect>
						<rect
							class="ai-2"
							x="10.36"
							y="16.33"
							width="5.31"
							height="2.66"></rect>
						<rect
							class="ai-2"
							x="20.98"
							y="13.01"
							width="2.66"
							height="9.96"></rect>
						<circle class="ai-2" cx="22.31" cy="11.01" r="1.33"
						></circle>
						<polygon
							class="ai-2"
							points="11.62 7.03 6.52 22.97 9.31 22.97 13.01 11.39 16.72 22.97 19.51 22.97 14.41 7.03 11.62 7.03"
						></polygon>
					</g>
				</svg>
				<svg id="blender" viewBox="0 0 30 24.37" width="30px" height="30px">
					<defs>
						<style>
							.blender-1 {
								fill: #4b4b73;
							}

							.blender-1,
							.blender-2 {
								stroke-width: 0px;
							}

							.blender-2 {
								fill: #7c7cbf;
							}
						</style>
					</defs>

					<g>
						<path
							class="blender-1"
							d="M29.91,13.59c-.18-1.23-.61-2.42-1.27-3.47-.61-.98-1.39-1.84-2.31-2.56L16.96.37l-.02-.02c-.62-.47-1.65-.47-2.33,0-.68.48-.76,1.27-.16,1.77l3.91,3.18H6.44s-.02.01-.02.01c-.98,0-1.93.65-2.12,1.47-.19.83.47,1.52,1.5,1.52h0s6.04,0,6.04,0L1.07,16.57l-.04.03c-1.02.78-1.34,2.07-.71,2.89.65.84,2.03.84,3.06,0l5.88-4.81s-.09.65-.08,1.04h0c.01.39.13,1.16.32,1.75.41,1.28,1.08,2.46,1.99,3.44.98,1.07,2.16,1.92,3.49,2.5,1.44.64,3,.96,4.57.95,1.58,0,3.13-.32,4.57-.96,1.32-.59,2.51-1.44,3.48-2.52.9-.99,1.58-2.17,1.99-3.45.39-1.24.49-2.56.31-3.84ZM25.6,15.87c-.28.76-.72,1.46-1.29,2.03-1.22,1.23-2.91,1.93-4.74,1.94-1.84,0-3.53-.69-4.74-1.92-.58-.58-1.02-1.27-1.3-2.03-.52-1.45-.39-3.05.36-4.4.37-.66.86-1.24,1.44-1.71,1.18-.96,2.68-1.48,4.24-1.48,1.57,0,3.07.51,4.25,1.47.6.49,1.09,1.07,1.44,1.71.37.66.59,1.38.66,2.13.07.77-.04,1.54-.3,2.26Z"
						></path>
						<path
							class="blender-2"
							d="M23.74,13.7c.06,1.03-.36,1.98-1.08,2.69-.8.76-1.86,1.18-2.97,1.17-1.11.01-2.17-.41-2.97-1.17-.72-.71-1.13-1.67-1.08-2.69h0c.06-1,.55-1.88,1.29-2.51.78-.64,1.76-.99,2.77-.99,1.06,0,2.04.38,2.76.99.74.63,1.23,1.51,1.29,2.51Z"
						></path>
					</g>
				</svg>
			</Icons>
		</Card>
		<Card title="One page">
			<a href="/makro" >
				<img class="makro" src="./public/Makro_02.webp" alt="Makro" />
			</a>
			<Icons name="icons">
				<svg id="photoshop" viewBox="0 0 32.17 32.17" height="30px">
					<defs>
						<style>
							.photsp-1 {
								fill: #3a3a59;
							}

							.photsp-1,
							.photsp-2 {
								stroke-width: 0px;
							}

							.photsp-2 {
								fill: #7c7cbf;
							}
						</style>
					</defs>

					<g>
						<rect
							class="photsp-1"
							y="0"
							width="32.17"
							height="32.17"
							rx="3.71"
							ry="3.71"></rect>
						<g>
							<path
								class="photsp-2"
								d="M7.03,6.97c0-.12.02-.17.13-.17.79-.02,2.36-.05,3.95-.05,4.09,0,5.65,2.38,5.67,5.2,0,3.86-2.88,5.32-5.94,5.32h-1.29v5.51c0,.15-.04.19-.15.19h-2.21c-.1,0-.15-.05-.15-.17V6.97h0ZM9.53,14.91c.17.02.48.05,1.36.05,1.65,0,3.24-.47,3.24-2.9,0-1.94-1.06-2.94-3.03-2.94-.81,0-1.4.02-1.57.05v5.74Z"
							></path>
							<path
								class="photsp-2"
								d="M21.98,13.1c-1.01,0-1.27.63-1.27,1.09,0,.58.27.9,1.8,1.63,2.11,1.02,3.02,1.92,3.02,3.66,0,2.43-1.58,3.81-3.84,3.81-1.09,0-2.46-.1-3.32-.73-.08-.05-.12-.12-.12-.24v-2.23c0-.12.08-.17.14-.12,1.07.8,2.26,1.03,3.32,1.03.94,0,1.27-.63,1.27-1.16,0-.63-.23-1-1.7-1.7-2.11-1.02-2.99-1.9-2.99-3.67,0-1.97,1.47-3.59,3.89-3.59,1.25,0,2.13.03,2.71.42.1.1.12.17.12.32v1.99c0,.15-.08.22-.18.15-.74-.49-1.78-.64-2.85-.64Z"
							></path>
						</g>
					</g>
				</svg>
				<svg id="illustrator" viewBox="0 0 30 30" height="30px">
					<defs>
						<style>
							.ai-1 {
								fill: #3a3a59;
							}

							.ai-1,
							.ai-2 {
								stroke-width: 0px;
							}

							.ai-2 {
								fill: #7c7cbf;
							}
						</style>
					</defs>

					<g>
						<rect
							class="ai-1"
							width="30"
							height="30"
							rx="3.46"
							ry="3.46"></rect>
						<rect
							class="ai-2"
							x="10.36"
							y="16.33"
							width="5.31"
							height="2.66"></rect>
						<rect
							class="ai-2"
							x="20.98"
							y="13.01"
							width="2.66"
							height="9.96"></rect>
						<circle class="ai-2" cx="22.31" cy="11.01" r="1.33"
						></circle>
						<polygon
							class="ai-2"
							points="11.62 7.03 6.52 22.97 9.31 22.97 13.01 11.39 16.72 22.97 19.51 22.97 14.41 7.03 11.62 7.03"
						></polygon>
					</g>
				</svg>
				<svg id="indesign" viewBox="0 0 30 30" height="30px">
					<defs>
						<style>
							.indesign-1 {
								fill: #3a3a59;
							}

							.indesign-1,
							.indesign-2 {
								stroke-width: 0px;
							}

							.indesign-2 {
								fill: #7c7cbf;
							}
						</style>
					</defs>

					<g>
						<rect
							class="indesign-1"
							width="30"
							height="30"
							rx="3.46"
							ry="3.46"></rect>
						<g>
							<rect
								class="indesign-2"
								x="7.79"
								y="7.36"
								width="2.48"
								height="15.07"></rect>
							<path
								class="indesign-2"
								d="M19.68,7.36v3.85h-.74c-2.53,0-5.58,1.63-5.58,5.79,0,3.22,1.63,5.63,5.1,5.63,2.56,0,3.76-.88,3.76-.88V7.36h-2.54ZM19.68,20.42s-.29.13-.98.13-2.81-.3-2.81-3.66,2.43-3.63,3.02-3.63.77.16.77.16v7h0Z"
							></path>
						</g>
					</g>
				</svg>
				<svg id="blender" viewBox="0 0 30 24.37" width="30px" height="30px">
					<defs>
						<style>
							.blender-1 {
								fill: #4b4b73;
							}

							.blender-1,
							.blender-2 {
								stroke-width: 0px;
							}

							.blender-2 {
								fill: #7c7cbf;
							}
						</style>
					</defs>

					<g>
						<path
							class="blender-1"
							d="M29.91,13.59c-.18-1.23-.61-2.42-1.27-3.47-.61-.98-1.39-1.84-2.31-2.56L16.96.37l-.02-.02c-.62-.47-1.65-.47-2.33,0-.68.48-.76,1.27-.16,1.77l3.91,3.18H6.44s-.02.01-.02.01c-.98,0-1.93.65-2.12,1.47-.19.83.47,1.52,1.5,1.52h0s6.04,0,6.04,0L1.07,16.57l-.04.03c-1.02.78-1.34,2.07-.71,2.89.65.84,2.03.84,3.06,0l5.88-4.81s-.09.65-.08,1.04h0c.01.39.13,1.16.32,1.75.41,1.28,1.08,2.46,1.99,3.44.98,1.07,2.16,1.92,3.49,2.5,1.44.64,3,.96,4.57.95,1.58,0,3.13-.32,4.57-.96,1.32-.59,2.51-1.44,3.48-2.52.9-.99,1.58-2.17,1.99-3.45.39-1.24.49-2.56.31-3.84ZM25.6,15.87c-.28.76-.72,1.46-1.29,2.03-1.22,1.23-2.91,1.93-4.74,1.94-1.84,0-3.53-.69-4.74-1.92-.58-.58-1.02-1.27-1.3-2.03-.52-1.45-.39-3.05.36-4.4.37-.66.86-1.24,1.44-1.71,1.18-.96,2.68-1.48,4.24-1.48,1.57,0,3.07.51,4.25,1.47.6.49,1.09,1.07,1.44,1.71.37.66.59,1.38.66,2.13.07.77-.04,1.54-.3,2.26Z"
						></path>
						<path
							class="blender-2"
							d="M23.74,13.7c.06,1.03-.36,1.98-1.08,2.69-.8.76-1.86,1.18-2.97,1.17-1.11.01-2.17-.41-2.97-1.17-.72-.71-1.13-1.67-1.08-2.69h0c.06-1,.55-1.88,1.29-2.51.78-.64,1.76-.99,2.77-.99,1.06,0,2.04.38,2.76.99.74.63,1.23,1.51,1.29,2.51Z"
						></path>
					</g>
				</svg>
			
			</Icons>
		</Card>
		<Card title="Diseño 3d">
			<img class="parche" src="./public/parche.webp" alt="El Parche" />
			<Icons name="icons">
				<svg id="blender" viewBox="0 0 30 24.37" width="30px" height="30px">
					<defs>
						<style>
							.blender-1 {
								fill: #4b4b73;
							}

							.blender-1,
							.blender-2 {
								stroke-width: 0px;
							}

							.blender-2 {
								fill: #7c7cbf;
							}
						</style>
					</defs>

					<g>
						<path
							class="blender-1"
							d="M29.91,13.59c-.18-1.23-.61-2.42-1.27-3.47-.61-.98-1.39-1.84-2.31-2.56L16.96.37l-.02-.02c-.62-.47-1.65-.47-2.33,0-.68.48-.76,1.27-.16,1.77l3.91,3.18H6.44s-.02.01-.02.01c-.98,0-1.93.65-2.12,1.47-.19.83.47,1.52,1.5,1.52h0s6.04,0,6.04,0L1.07,16.57l-.04.03c-1.02.78-1.34,2.07-.71,2.89.65.84,2.03.84,3.06,0l5.88-4.81s-.09.65-.08,1.04h0c.01.39.13,1.16.32,1.75.41,1.28,1.08,2.46,1.99,3.44.98,1.07,2.16,1.92,3.49,2.5,1.44.64,3,.96,4.57.95,1.58,0,3.13-.32,4.57-.96,1.32-.59,2.51-1.44,3.48-2.52.9-.99,1.58-2.17,1.99-3.45.39-1.24.49-2.56.31-3.84ZM25.6,15.87c-.28.76-.72,1.46-1.29,2.03-1.22,1.23-2.91,1.93-4.74,1.94-1.84,0-3.53-.69-4.74-1.92-.58-.58-1.02-1.27-1.3-2.03-.52-1.45-.39-3.05.36-4.4.37-.66.86-1.24,1.44-1.71,1.18-.96,2.68-1.48,4.24-1.48,1.57,0,3.07.51,4.25,1.47.6.49,1.09,1.07,1.44,1.71.37.66.59,1.38.66,2.13.07.77-.04,1.54-.3,2.26Z"
						></path>
						<path
							class="blender-2"
							d="M23.74,13.7c.06,1.03-.36,1.98-1.08,2.69-.8.76-1.86,1.18-2.97,1.17-1.11.01-2.17-.41-2.97-1.17-.72-.71-1.13-1.67-1.08-2.69h0c.06-1,.55-1.88,1.29-2.51.78-.64,1.76-.99,2.77-.99,1.06,0,2.04.38,2.76.99.74.63,1.23,1.51,1.29,2.51Z"
						></path>
					</g>
				</svg>
			</Icons>
		</Card>
		<Card title="Diseño 3d">
			<img class="terra" src="./public/Terra_01.webp" alt="Terra" />
			<Icons name="icons">
				<svg id="xd" viewBox="0 0 30 30" height="30px">
					<defs>
						<style>
							.xd-1 {
								fill: #3a3a59;
							}

							.xd-1,
							.xd-2 {
								stroke-width: 0px;
							}

							.xd-2 {
								fill: #7c7cbf;
							}
						</style>
					</defs>

					<g>
						<rect
							class="xd-1"
							y="0"
							width="30"
							height="30"
							rx="3.46"
							ry="3.46"></rect>
						<path
							class="xd-2"
							d="M15.63,7.36h-2.57l-2.76,5.77-2.8-5.77h-2.65l3.75,7.49-3.88,7.67h2.62l2.81-5.88,2.84,5.88h2.83l-4-7.76,3.81-7.4ZM22.73,7.36v3.86h-.74c-2.53,0-5.58,1.63-5.58,5.79,0,3.22,1.63,5.64,5.1,5.64,2.56,0,3.76-.88,3.76-.88V7.36h-2.54ZM22.73,20.43s-.29.13-.98.13-2.81-.3-2.81-3.66,2.43-3.63,3.02-3.63.77.16.77.16v7h0Z"
						></path>
					</g>
				</svg>
				<svg id="photoshop" viewBox="0 0 32.17 32.17" height="30px">
					<defs>
						<style>
							.photsp-1 {
								fill: #3a3a59;
							}

							.photsp-1,
							.photsp-2 {
								stroke-width: 0px;
							}

							.photsp-2 {
								fill: #7c7cbf;
							}
						</style>
					</defs>

					<g>
						<rect
							class="photsp-1"
							y="0"
							width="32.17"
							height="32.17"
							rx="3.71"
							ry="3.71"></rect>
						<g>
							<path
								class="photsp-2"
								d="M7.03,6.97c0-.12.02-.17.13-.17.79-.02,2.36-.05,3.95-.05,4.09,0,5.65,2.38,5.67,5.2,0,3.86-2.88,5.32-5.94,5.32h-1.29v5.51c0,.15-.04.19-.15.19h-2.21c-.1,0-.15-.05-.15-.17V6.97h0ZM9.53,14.91c.17.02.48.05,1.36.05,1.65,0,3.24-.47,3.24-2.9,0-1.94-1.06-2.94-3.03-2.94-.81,0-1.4.02-1.57.05v5.74Z"
							></path>
							<path
								class="photsp-2"
								d="M21.98,13.1c-1.01,0-1.27.63-1.27,1.09,0,.58.27.9,1.8,1.63,2.11,1.02,3.02,1.92,3.02,3.66,0,2.43-1.58,3.81-3.84,3.81-1.09,0-2.46-.1-3.32-.73-.08-.05-.12-.12-.12-.24v-2.23c0-.12.08-.17.14-.12,1.07.8,2.26,1.03,3.32,1.03.94,0,1.27-.63,1.27-1.16,0-.63-.23-1-1.7-1.7-2.11-1.02-2.99-1.9-2.99-3.67,0-1.97,1.47-3.59,3.89-3.59,1.25,0,2.13.03,2.71.42.1.1.12.17.12.32v1.99c0,.15-.08.22-.18.15-.74-.49-1.78-.64-2.85-.64Z"
							></path>
						</g>
					</g>
				</svg>
				<svg id="illustrator" viewBox="0 0 30 30" height="30px">
					<defs>
						<style>
							.ai-1 {
								fill: #3a3a59;
							}

							.ai-1,
							.ai-2 {
								stroke-width: 0px;
							}

							.ai-2 {
								fill: #7c7cbf;
							}
						</style>
					</defs>

					<g>
						<rect
							class="ai-1"
							width="30"
							height="30"
							rx="3.46"
							ry="3.46"></rect>
						<rect
							class="ai-2"
							x="10.36"
							y="16.33"
							width="5.31"
							height="2.66"></rect>
						<rect
							class="ai-2"
							x="20.98"
							y="13.01"
							width="2.66"
							height="9.96"></rect>
						<circle class="ai-2" cx="22.31" cy="11.01" r="1.33"
						></circle>
						<polygon
							class="ai-2"
							points="11.62 7.03 6.52 22.97 9.31 22.97 13.01 11.39 16.72 22.97 19.51 22.97 14.41 7.03 11.62 7.03"
						></polygon>
					</g>
				</svg>
				<svg id="blender" viewBox="0 0 30 24.37" width="30px" height="30px">
					<defs>
						<style>
							.blender-1 {
								fill: #4b4b73;
							}

							.blender-1,
							.blender-2 {
								stroke-width: 0px;
							}

							.blender-2 {
								fill: #7c7cbf;
							}
						</style>
					</defs>

					<g>
						<path
							class="blender-1"
							d="M29.91,13.59c-.18-1.23-.61-2.42-1.27-3.47-.61-.98-1.39-1.84-2.31-2.56L16.96.37l-.02-.02c-.62-.47-1.65-.47-2.33,0-.68.48-.76,1.27-.16,1.77l3.91,3.18H6.44s-.02.01-.02.01c-.98,0-1.93.65-2.12,1.47-.19.83.47,1.52,1.5,1.52h0s6.04,0,6.04,0L1.07,16.57l-.04.03c-1.02.78-1.34,2.07-.71,2.89.65.84,2.03.84,3.06,0l5.88-4.81s-.09.65-.08,1.04h0c.01.39.13,1.16.32,1.75.41,1.28,1.08,2.46,1.99,3.44.98,1.07,2.16,1.92,3.49,2.5,1.44.64,3,.96,4.57.95,1.58,0,3.13-.32,4.57-.96,1.32-.59,2.51-1.44,3.48-2.52.9-.99,1.58-2.17,1.99-3.45.39-1.24.49-2.56.31-3.84ZM25.6,15.87c-.28.76-.72,1.46-1.29,2.03-1.22,1.23-2.91,1.93-4.74,1.94-1.84,0-3.53-.69-4.74-1.92-.58-.58-1.02-1.27-1.3-2.03-.52-1.45-.39-3.05.36-4.4.37-.66.86-1.24,1.44-1.71,1.18-.96,2.68-1.48,4.24-1.48,1.57,0,3.07.51,4.25,1.47.6.49,1.09,1.07,1.44,1.71.37.66.59,1.38.66,2.13.07.77-.04,1.54-.3,2.26Z"
						></path>
						<path
							class="blender-2"
							d="M23.74,13.7c.06,1.03-.36,1.98-1.08,2.69-.8.76-1.86,1.18-2.97,1.17-1.11.01-2.17-.41-2.97-1.17-.72-.71-1.13-1.67-1.08-2.69h0c.06-1,.55-1.88,1.29-2.51.78-.64,1.76-.99,2.77-.99,1.06,0,2.04.38,2.76.99.74.63,1.23,1.51,1.29,2.51Z"
						></path>
					</g>
				</svg>
			
			</Icons>
		</Card>
	</main>
</Layout>
<style>
	



	/* ------------------Main-------------------------*/
	.cv {
		display: grid;
		justify-content: center;
		
		max-width: 800px;
		grid-template-columns: 50% 50%;
		grid-template-areas:
			"info nombre"
			"info foto"
			"habilidades foto"
			"experiencia experiencia"
			"educacion complementarios";
		gap: 10px;
	}
	/* -------------------------------------------*/
	.info {
		grid-area: info;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		
		p {
			padding: 10px;
		}
		li {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 10px;
			padding: 10px;
			gap: 10px;
			font-size: 1.08em;
		}
		div {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 30px 0 20px 0;
			gap: 10px;
		}
		div a {
			display: flex;
			background: rgb(42, 42, 64);
			background: linear-gradient(
				45deg,
				rgba(42, 42, 64, 0.25) 0%,
				rgba(91, 91, 140, 0.25) 100%
			);
			border-radius: 10px;
			text-decoration: none;
			transition: transform 0.2s ease;
		}
		div a:hover {
			background: linear-gradient(
				45deg,
				rgba(42, 42, 64, 0.7) 0%,
				rgba(91, 91, 140, 0.7) 100%
			);
			transform: scale(1.02);
		}
		a .social {
			padding: 5px;
			transition: 0.5s ease;
		}
		a .social:hover {
			stroke: var(--niok);
		}
	}
	
	.nombre {
		grid-area: nombre;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		
		> svg {
			align-self: flex-end;
			margin: -40px 10px 10px 0;
			z-index: 1;
			
		}
		.sub_nombre {
			display: flex;
			padding-left: 10px;
			gap: 15px;
			align-items: center;
			p {
				font-size: 1.6em;
				line-height: 1.1;
				font-weight: 200;
				z-index: 2;
			}
		}
	}
	.habilidades {
		grid-area: habilidades;
		display: flex;
		flex-direction: column;

		.iconscontainer {
			padding: 10px;
			display: grid;
			align-items: center;
			justify-items: center;
			grid-template-columns: repeat(auto-fill, minmax(42px, 1fr));
			grid-template-rows: repeat(auto-fill, minmax(42px, 1fr));
			gap: 10px;
			/******************************************/
			li {
				padding: 10px;
			}
		}
	}
	.foto {
		grid-area: foto;
		padding: 0;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 20px;
			transform: scaleX(-1);
		}
	}
	.experiencia {
		grid-area: experiencia;
		display: flex;
		flex-direction: column;
		gap: 10px;
		grid-column-start: 1;
		grid-column-end: 3;
		> header {
			display: flex;
			justify-content: space-between;
		}
	}
	.educacion {
		grid-area: educacion;
		display: flex;
		flex-direction: column;
		
		.edu{
			display: flex;
			margin-left: 10px;
			gap: 5px;			
		}
		.cert_container{
			display: flex;
			justify-content: center;
			margin: 20px 0px;
		}
		.cert{
			padding: 15px 30px;
			font-size: 1.08rem;
			font-weight: 600;
			background: linear-gradient(
            45deg,
            rgba(42, 42, 64, 0.5) 0%,
            rgba(91, 91, 140, 0.4) 100%
        	);
			

		}
	}
	
	.complementarios {
		grid-area: complementarios;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		header{
			margin: 20px auto;
		}
	}
	

	/* -------------------------------------------*/
	.space {
		padding: 70px;
		width: 50px;
		svg .proj-1{
			fill: url(#grad1);
		}
	}

	/* -------------------------------------------*/
	.portfolio {
		display: grid;
		justify-content: center;
		grid-template-columns: 50% 50%;
		
		max-width: 800px;
		gap: 10px;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		
	}
	
	.pespunte {
		transform: scale(1.4);
	}
	.makro {
		transform: scale(2);
		height: 350px;
	}
	.terra {
		height: 350px;
	}
	.parche {
		height: 350px;
	}


	/*-----------------------Query----------------------------- */
	@media (width < 1000px) {
		.cv{
			width: 100%;
		}
		.portfolio{
			width: 100%;
		}


	}
	@media (width < 600px){
		.cv{
			width: 70%;
			grid-template-areas:
			"nombre nombre" 
			"foto foto"
			"info info "			
			"experiencia experiencia"
			"educacion educacion" 
			"complementarios complementarios"
			"habilidades habilidades";
			

		}
		.portfolio{
			width: 70%;
			grid-template-columns: 1fr;

		}

		.sub_nombre{
			p{
				font-size: 1.3rem;
			}
		}
	}

</style>

