---
interface Props {
    title: string;
    content: string;
}

const { title, content } = Astro.props;
---

<div>
    
    <h6>{title}</h6>
    <p>{content}</p>
</div>
<style>
    div {
        padding: 10px;
        h6 {
            font-family: "barlow", sans-serif;
            font-weight: 600;
            font-size: 1.08rem;
            margin: 0;
        }
        p {
            font-family: "barlow", sans-serif;
            font-weight: 200;
            font-size: 1rem;
            margin: 0;
        }
    }
</style>
